.sortControlContainer {
  display: flex;
  align-items: center;
}

.sortControlButton {
  padding: 8px 15px;
  background-color: #3498db;
  color: rgb(18, 16, 16);
  font-weight: bold;
  font-family: "Comfortaa", sans-serif;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-left: 10px;
}

.sortControlButton:hover {
  background-color: #3498db;
}

.sortControlButton:focus {
  outline: none;
  box-shadow: 0 0 5px #3498db;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #969494;
  transition: 0.4s;
  border-radius: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3498db;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.orderText {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  font-family: "Comfortaa", sans-serif;
}
